In [71]:
import os
import pandas as pd
import numpy as np

In [5]:
FOLDER = '../../data_kaggle/champs/'

In [6]:
os.listdir(FOLDER)

['mulliken_charges.csv',
 'sample_submission.csv',
 'magnetic_shielding_tensors.csv',
 'train.csv',
 'test.csv',
 'dipole_moments.csv',
 'potential_energy.csv',
 'structures.csv',
 'scalar_coupling_contributions.csv',
 'structures.zip']

In [8]:
df_train = pd.read_csv(FOLDER + 'train.csv')

In [9]:
df_train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [59]:
df_test = pd.read_csv(FOLDER + 'test.csv')
df_test[df_test['molecule_name'] == 'dsgdb9nsd_000004']

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

In [121]:
df_train = pd.read_csv(FOLDER + 'train.csv')
df_train[df_train['molecule_name'] == 'dsgdb9nsd_000001']

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074
5,5,dsgdb9nsd_000001,2,3,2JHH,-11.2541
6,6,dsgdb9nsd_000001,2,4,2JHH,-11.2548
7,7,dsgdb9nsd_000001,3,0,1JHC,84.8093
8,8,dsgdb9nsd_000001,3,4,2JHH,-11.2543
9,9,dsgdb9nsd_000001,4,0,1JHC,84.8095

In [128]:
df_train['type'].value_counts()

3JHC    1510379
2JHC    1140674
1JHC     709416
3JHH     590611
2JHH     378036
3JHN     166415
2JHN     119253
1JHN      43363
Name: type, dtype: int64

In [122]:
def idx2elm(atom_label, atom_dict):
    return atom_dict[atom_label]

In [126]:
i = 0
# array of each column
mols = df_train['molecule_name'].value_counts().index
atom0 = df_train[df_train['molecule_name'] == mols[i]]['atom_index_0'].values
atom1 = df_train[df_train['molecule_name'] == mols[i]]['atom_index_1'].values
types = df_train[df_train['molecule_name'] == mols[i]]['type'].values

# atom index to atom name
atom_idx = df_structures[df_structures['molecule_name'] == mols[i]]['atom_index'].values
atom_name = df_structures[df_structures['molecule_name'] == mols[i]]['atom'].values
atom_dict = {atom_idx[i]:atom_name[i] for i in range(len(atom_idx))}
atom0_elm = df_train[df_train['molecule_name'] == mols[i]]['atom_index_0'].apply(idx2elm, atom_dict=atom_dict)
atom1_elm = df_train[df_train['molecule_name'] == mols[i]]['atom_index_1'].apply(idx2elm, atom_dict=atom_dict)

In [118]:
df_train[df_train['molecule_name'] == mols[i]]

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom0_elm,atom1_elm
1302988,1302988,dsgdb9nsd_042139,9,0,1JHC,79.29350,H,C
1302989,1302989,dsgdb9nsd_042139,9,1,2JHC,-1.78197,H,C
1302990,1302990,dsgdb9nsd_042139,9,2,3JHC,1.37823,H,C
1302991,1302991,dsgdb9nsd_042139,9,7,3JHC,8.01294,H,C
1302992,1302992,dsgdb9nsd_042139,9,8,2JHC,-1.23301,H,C
1302993,1302993,dsgdb9nsd_042139,9,10,2JHH,-12.27320,H,H
1302994,1302994,dsgdb9nsd_042139,9,11,3JHH,11.74090,H,H
1302995,1302995,dsgdb9nsd_042139,9,12,3JHH,4.50296,H,H
1302996,1302996,dsgdb9nsd_042139,9,25,3JHH,3.94857,H,H
1302997,1302997,dsgdb9nsd_042139,9,26,3JHH,2.51522,H,H
1302998,1302998,dsgdb9nsd_042139,10,0,1JHC,79.30000,H,C
1302999,1302999,dsgdb9nsd_042139,10,1,2JHC,-1.23345,H,C
1303000,1303000,dsgdb9nsd_042139,10,2,3JHC,8.01617,H,C
1303001,1303001,dsgdb9nsd_042139,10,7,3JHC,1.37773,H,C
1303002,1303002,dsgdb9nsd_042139,10,8,2JHC,-1.78341,H,C
1303003,1303003,dsgdb9nsd_042139,10,11,3JHH,3.94590,H,H
1303004,1303004,dsgdb9nsd_042139,10,12,3JHH,2.51936,H,H
1303005,1303005,dsgdb9nsd_042139,10,25,3JHH,11.73820,H,H
1303006,1303006,dsgdb9nsd_042139,10,26,3JHH,4.50678,H,H
1303007,1303007,dsgdb9nsd_042139,11,0,2JHC,-2.42961,H,C
1303008,1303008,dsgdb9nsd_042139,11,1,1JHC,83.38940,H,C
1303009,1303009,dsgdb9nsd_042139,11,2,2JHC,-1.81370,H,C
1303010,1303010,dsgdb9nsd_042139,11,3,3JHC,8.70396,H,C
1303011,1303011,dsgdb9nsd_042139,11,8,3JHC,1.56347,H,C
1303012,1303012,dsgdb9nsd_042139,11,12,2JHH,-13.28650,H,H
1303013,1303013,dsgdb9nsd_042139,11,13,3JHH,3.32191,H,H
1303014,1303014,dsgdb9nsd_042139,11,14,3JHH,1.75336,H,H
1303015,1303015,dsgdb9nsd_042139,12,0,2JHC,-1.50023,H,C
1303016,1303016,dsgdb9nsd_042139,12,1,1JHC,77.82790,H,C
1303017,1303017,dsgdb9nsd_042139,12,2,2JHC,-1.55476,H,C
...,...,...,...,...,...,...,...,...
1303093,1303093,dsgdb9nsd_042139,22,7,2JHC,-1.78326,H,C
1303094,1303094,dsgdb9nsd_042139,22,8,3JHC,1.36714,H,C
1303095,1303095,dsgdb9nsd_042139,22,23,3JHH,11.73500,H,H
1303096,1303096,dsgdb9nsd_042139,22,24,3JHH,4.51843,H,H
1303097,1303097,dsgdb9nsd_042139,23,0,3JHC,8.70856,H,C
1303098,1303098,dsgdb9nsd_042139,23,5,3JHC,1.55072,H,C
1303099,1303099,dsgdb9nsd_042139,23,6,2JHC,-2.42645,H,C
1303100,1303100,dsgdb9nsd_042139,23,7,1JHC,83.35410,H,C
1303101,1303101,dsgdb9nsd_042139,23,8,2JHC,-1.81959,H,C
1303102,1303102,dsgdb9nsd_042139,23,24,2JHH,-13.28510,H,H
1303103,1303103,dsgdb9nsd_042139,23,25,3JHH,1.76219,H,H
1303104,1303104,dsgdb9nsd_042139,23,26,3JHH,3.31024,H,H
1303105,1303105,dsgdb9nsd_042139,24,0,3JHC,2.30412,H,C
1303106,1303106,dsgdb9nsd_042139,24,5,3JHC,7.42086,H,C
1303107,1303107,dsgdb9nsd_042139,24,6,2JHC,-1.50157,H,C
1303108,1303108,dsgdb9nsd_042139,24,7,1JHC,77.84570,H,C
1303109,1303109,dsgdb9nsd_042139,24,8,2JHC,-1.55489,H,C
1303110,1303110,dsgdb9nsd_042139,24,25,3JHH,3.31183,H,H
1303111,1303111,dsgdb9nsd_042139,24,26,3JHH,9.75497,H,H
1303112,1303112,dsgdb9nsd_042139,25,0,2JHC,-2.42227,H,C
1303113,1303113,dsgdb9nsd_042139,25,1,3JHC,1.55924,H,C
1303114,1303114,dsgdb9nsd_042139,25,6,3JHC,8.70439,H,C
1303115,1303115,dsgdb9nsd_042139,25,7,2JHC,-1.81756,H,C
1303116,1303116,dsgdb9nsd_042139,25,8,1JHC,83.36940,H,C
1303117,1303117,dsgdb9nsd_042139,25,26,2JHH,-13.28270,H,H
1303118,1303118,dsgdb9nsd_042139,26,0,2JHC,-1.49859,H,C
1303119,1303119,dsgdb9nsd_042139,26,1,3JHC,7.41894,H,C
1303120,1303120,dsgdb9nsd_042139,26,6,3JHC,2.30503,H,C
1303121,1303121,dsgdb9nsd_042139,26,7,2JHC,-1.55897,H,C
1303122,1303122,dsgdb9nsd_042139,26,8,1JHC,77.83970,H,C

In [57]:
# mulliken charge for each atom (train)
# df_mulliken_charges = pd.read_csv(FOLDER + 'mulliken_charges.csv')
df_mulliken_charges[df_mulliken_charges['molecule_name'] == 'dsgdb9nsd_000001']

      molecule_name  atom_index  mulliken_charge
0  dsgdb9nsd_000001           0        -0.535689
1  dsgdb9nsd_000001           1         0.133921
2  dsgdb9nsd_000001           2         0.133922
3  dsgdb9nsd_000001           3         0.133923
4  dsgdb9nsd_000001           4         0.133923

In [124]:
# location for each atom (train/test)
df_structures = pd.read_csv(FOLDER + 'structures.csv')
df_structures[df_structures['molecule_name'] == 'dsgdb9nsd_000001']

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

In [136]:
incl_F = df_structures[df_structures['atom'] == 'F']['molecule_name'].values[0]

In [138]:
df_test[df_test['molecule_name'] == incl_F]

Empty DataFrame
Columns: [id, molecule_name, atom_index_0, atom_index_1, type]
Index: []

In [55]:
# dipole moment for each molecule (train)
df_dipole_moments = pd.read_csv(FOLDER + 'dipole_moments.csv')
df_dipole_moments[df_dipole_moments['molecule_name'] == 'dsgdb9nsd_000001']

      molecule_name    X    Y    Z
0  dsgdb9nsd_000001  0.0  0.0  0.0

In [54]:
# potential energy for each molecule (train)
df_potential_energy = pd.read_csv(FOLDER + 'potential_energy.csv')
df_potential_energy[df_potential_energy['molecule_name'] == 'dsgdb9nsd_000001']

      molecule_name  potential_energy
0  dsgdb9nsd_000001         -40.52368

In [53]:
# scaloar coupling contribution for each pair atoms (train)
df_scalar_coupling_contributions = pd.read_csv(FOLDER + 'scalar_coupling_contributions.csv')
df_scalar_coupling_contributions[df_scalar_coupling_contributions['molecule_name'] == 'dsgdb9nsd_000001']

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.272010
1,dsgdb9nsd_000001,1,2,2JHH,-11.0347,0.352978,2.85839,-3.433600
2,dsgdb9nsd_000001,1,3,2JHH,-11.0325,0.352944,2.85852,-3.433870
3,dsgdb9nsd_000001,1,4,2JHH,-11.0319,0.352934,2.85855,-3.433930
4,dsgdb9nsd_000001,2,0,1JHC,83.0222,0.254585,1.25861,0.272013
5,dsgdb9nsd_000001,2,3,2JHH,-11.0317,0.352932,2.85856,-3.433950
6,dsgdb9nsd_000001,2,4,2JHH,-11.0324,0.352943,2.85853,-3.433870
7,dsgdb9nsd_000001,3,0,1JHC,83.0241,0.254634,1.25856,0.272012
8,dsgdb9nsd_000001,3,4,2JHH,-11.0319,0.352943,2.85856,-3.433930
9,dsgdb9nsd_000001,4,0,1JHC,83.0243,0.254628,1.25856,0.272012

In [64]:
# magnetic schielding tensor for each atom (train)
df_magnetic_shielding_tensors = pd.read_csv(FOLDER + 'magnetic_shielding_tensors.csv')
df_magnetic_shielding_tensors[df_magnetic_shielding_tensors['molecule_name'] == 'dsgdb9nsd_000001']

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
0,dsgdb9nsd_000001,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
1,dsgdb9nsd_000001,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,dsgdb9nsd_000001,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,dsgdb9nsd_000001,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,dsgdb9nsd_000001,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013

In [73]:
atoms = df_structures['atom'].value_counts().index

In [74]:
num_atoms = len(atoms)
pair_list = []
for i in range(num_atoms):
    for j in range(i):
        pair_list.append([atoms[i], atoms[j]])

In [75]:
pair_list

[['C', 'H'],
 ['O', 'H'],
 ['O', 'C'],
 ['N', 'H'],
 ['N', 'C'],
 ['N', 'O'],
 ['F', 'H'],
 ['F', 'C'],
 ['F', 'O'],
 ['F', 'N']]