In [1]:
import pandas as pd
import numpy as np

In [2]:
FOLDER = '../../data_kaggle/champs/'
OUTPUT = FOLDER + 'out/'

In [32]:
name_list = ['20190808_submission_2.csv',
             '20190808_submission_1.csv',
             '20190808_submission_0.csv',
             '20190804_02_submission_6.csv']

In [34]:
df_sub = pd.read_csv(OUTPUT + name_list[0])
for name in name_list[1:]:
    print('-'*10, name, '-'*10)
    temp = pd.read_csv(OUTPUT + name)
    df_sub = pd.merge(df_sub, temp, on='id')

---------- 20190808_submission_1.csv ----------
---------- 20190808_submission_0.csv ----------
---------- 20190804_02_submission_6.csv ----------

In [35]:
df_copy = df_sub.copy()

In [36]:
del df_copy['id']

In [37]:
pred_mat = df_copy.values

In [38]:
pred_mat.shape

(2505542, 4)

In [43]:
pred_med = np.mean(pred_mat, axis=1)

In [44]:
df_sub2 = pd.DataFrame()
df_sub2['id'] = df_sub['id']
df_sub2['scalar_coupling_constant'] = pred_med

In [45]:
df_sub2.head()

        id  scalar_coupling_constant
0  4658147                 18.367242
1  4658148                193.521408
2  4658149                 11.301987
3  4658150                193.709982
4  4658151                 18.673452

In [46]:
df_sub2.to_csv(OUTPUT + 'submission_mean.csv', index=False)