In [1]:
import os
import pandas as pd
import numpy as np
import time
import random
import lightgbm as lgb

import pickle

In [2]:
FOLDER = '../../data_kaggle/champs/'
OUTPUT = FOLDER + 'out/'

In [3]:
# df_mulliken_charges = pd.read_csv(FOLDER + 'mulliken_charges.csv')
# df_sample =  pd.read_csv(FOLDER + 'sample_submission.csv')
# df_magnetic_shielding_tensors = pd.read_csv(FOLDER + 'magnetic_shielding_tensors.csv')
# df_train = pd.read_csv(FOLDER + 'train.csv')
# df_test = pd.read_csv(FOLDER + 'test.csv')
# df_dipole_moments = pd.read_csv(FOLDER + 'dipole_moments.csv')
# df_potential_energy = pd.read_csv(FOLDER + 'potential_energy.csv')
# df_structures = pd.read_csv(FOLDER + 'structures.csv')
# df_scalar_coupling_contributions = pd.read_csv(FOLDER + 'scalar_coupling_contributions.csv')

In [5]:
try_test = '20190701_dist_bond_dir_cos_test_{}.pickle'
trained_model = '20190703_champs_models_lgb_{}.pickle'
submission_name = '20190702submission.csv'

In [6]:
bond_types = ['1JHC', '2JHH', '1JHN', '2JHN', '2JHC', '3JHH', '3JHC', '3JHN']

In [7]:
df_submit = pd.DataFrame()
for i, b in enumerate(bond_types):
    print('-'*10, b, '-'*10)
    df_bond = pd.read_pickle(OUTPUT +try_test.format(b))
    y_pred_b =[]
    
    with open(OUTPUT + trained_model.format(b), 'rb') as f:
        models_b = pickle.load(f)

    X_test = df_bond[df_bond.columns[5:]].values  
    num_seed = len(models_b)
    for s in range(num_seed):
        gbm = models_b[s]
        y_pred_single = gbm.predict(X_test, num_iteration=gbm.best_iteration)
        y_pred_b.append(y_pred_single)
        
    y_pred = np.array(y_pred_b).mean(axis=0)
    
    df_submit_b = pd.DataFrame([df_bond['id'], y_pred], index=['id', 'scalar_coupling_constant']).T
    
    df_submit = pd.concat([df_submit, df_submit_b], axis=0)

---------- 1JHC ----------
---------- 2JHH ----------
---------- 1JHN ----------
---------- 2JHN ----------
---------- 2JHC ----------
---------- 3JHH ----------
---------- 3JHC ----------
---------- 3JHN ----------

In [32]:
y_pred

array([0.77844801, 0.86795031, 0.77856202, ..., 0.639158  , 0.45291564,
       0.45291564])

In [21]:
X_test.shape

(90616, 162)

In [22]:
df_bond['id'].shape

(90616,)

In [ ]:
# df_submit.to_csv(OUTPUT + submission_name, index=False)

In [26]:
df_submit

            id  scalar_coupling_constant
0      4658148                139.752481
1      4658150                139.752481
2      4658152                 81.061094
3      4658156                 81.061094
4      4658159                 84.443525
5      4658162                 81.059740
6      4658166                 81.059740
7      4658169                 84.430990
8      4658170                100.416488
9      4658178                100.416488
10     4658186                101.048865
11     4658192                101.048865
12     4658198                100.532180
13     4658202                100.532180
14     4658217                 81.489230
15     4658223                 79.091138
16     4658228                 82.978848
17     4658233                 76.985632
18     4658241                 82.603454
19     4658246                 80.811259
20     4658250                 81.662861
21     4658256                142.306663
22     4658257                 85.358423
23     4658264                 84.458500
24     4658270                 84.447053
25     4658276                 81.122915
26     4658281                 84.106821
27     4658286                104.259673
28     4658287                 87.779450
29     4658293                 87.785185
...        ...                       ...
90586  7162159                  2.193496
90587  7162343                  1.071215
90588  7162350                  1.790764
90589  7162599                  1.621691
90590  7162607                  1.642886
90591  7162627                  1.697442
90592  7162634                  1.641010
90593  7162640                  2.819137
90594  7162669                  1.929063
90595  7162675                  1.514127
90596  7162680                  1.331956
90597  7162781                  1.725438
90598  7162788                  1.642253
90599  7163087                  0.113324
90600  7163103                  1.509977
90601  7163111                  1.444249
90602  7163089                  0.191714
90603  7163097                  0.930508
90604  7163506                  2.217532
90605  7163514                  2.238005
90606  7163529                  0.291258
90607  7163535                  0.735955
90608  7163559                  1.022183
90609  7163567                  1.247549
90610  7163591                  1.425667
90611  7163619                  1.425667
90612  7163593                  0.639158
90613  7163602                  0.639158
90614  7163657                  0.452916
90615  7163682                  0.452916

[2505542 rows x 2 columns]

In [15]:
df_test = pd.read_csv(FOLDER + 'test.csv')

In [18]:
df_submit['id'].sort_values()

0         4658147
0         4658148
0         4658149
1         4658150
1         4658151
2         4658152
0         4658153
0         4658154
1         4658155
3         4658156
1         4658157
2         4658158
4         4658159
2         4658160
3         4658161
5         4658162
3         4658163
4         4658164
4         4658165
6         4658166
5         4658167
5         4658168
7         4658169
8         4658170
2         4658171
6         4658172
6         4658173
1         4658174
3         4658175
5         4658176
           ...
380605    7163659
613132    7163660
811995    7163661
811988    7163662
613134    7163663
317431    7163664
317432    7163665
811982    7163666
613129    7163667
380606    7163668
811996    7163669
811989    7163670
613135    7163671
317433    7163672
811991    7163673
64423     7163674
811983    7163675
811998    7163676
811993    7163677
613127    7163678
380607    7163679
613136    7163680
317434    7163681
90615     7163682
811984    7163683
613130    7163684
613133    7163685
811997    7163686
613137    7163687
380608    7163688
Name: id, Length: 2505542, dtype: int32

In [16]:
df_test

              id     molecule_name  atom_index_0  atom_index_1  type
0        4658147  dsgdb9nsd_000004             2             0  2JHC
1        4658148  dsgdb9nsd_000004             2             1  1JHC
2        4658149  dsgdb9nsd_000004             2             3  3JHH
3        4658150  dsgdb9nsd_000004             3             0  1JHC
4        4658151  dsgdb9nsd_000004             3             1  2JHC
5        4658152  dsgdb9nsd_000015             3             0  1JHC
6        4658153  dsgdb9nsd_000015             3             2  3JHC
7        4658154  dsgdb9nsd_000015             3             4  2JHH
8        4658155  dsgdb9nsd_000015             3             5  2JHH
9        4658156  dsgdb9nsd_000015             4             0  1JHC
10       4658157  dsgdb9nsd_000015             4             2  3JHC
11       4658158  dsgdb9nsd_000015             4             5  2JHH
12       4658159  dsgdb9nsd_000015             5             0  1JHC
13       4658160  dsgdb9nsd_000015             5             2  3JHC
14       4658161  dsgdb9nsd_000015             6             0  3JHC
15       4658162  dsgdb9nsd_000015             6             2  1JHC
16       4658163  dsgdb9nsd_000015             6             7  2JHH
17       4658164  dsgdb9nsd_000015             6             8  2JHH
18       4658165  dsgdb9nsd_000015             7             0  3JHC
19       4658166  dsgdb9nsd_000015             7             2  1JHC
20       4658167  dsgdb9nsd_000015             7             8  2JHH
21       4658168  dsgdb9nsd_000015             8             0  3JHC
22       4658169  dsgdb9nsd_000015             8             2  1JHC
23       4658170  dsgdb9nsd_000016             3             0  1JHC
24       4658171  dsgdb9nsd_000016             3             1  2JHC
25       4658172  dsgdb9nsd_000016             3             2  2JHC
26       4658173  dsgdb9nsd_000016             3             4  2JHH
27       4658174  dsgdb9nsd_000016             3             5  3JHH
28       4658175  dsgdb9nsd_000016             3             6  3JHH
29       4658176  dsgdb9nsd_000016             3             7  3JHH
...          ...               ...           ...           ...   ...
2505512  7163659  dsgdb9nsd_133885            12             3  1JHC
2505513  7163660  dsgdb9nsd_133885            12             4  2JHC
2505514  7163661  dsgdb9nsd_133885            12             6  3JHC
2505515  7163662  dsgdb9nsd_133885            12             7  3JHC
2505516  7163663  dsgdb9nsd_133885            12             8  2JHC
2505517  7163664  dsgdb9nsd_133885            12            13  3JHH
2505518  7163665  dsgdb9nsd_133885            12            15  3JHH
2505519  7163666  dsgdb9nsd_133885            13             2  3JHC
2505520  7163667  dsgdb9nsd_133885            13             3  2JHC
2505521  7163668  dsgdb9nsd_133885            13             4  1JHC
2505522  7163669  dsgdb9nsd_133885            13             6  3JHC
2505523  7163670  dsgdb9nsd_133885            13             7  3JHC
2505524  7163671  dsgdb9nsd_133885            13             8  2JHC
2505525  7163672  dsgdb9nsd_133885            13            15  3JHH
2505526  7163673  dsgdb9nsd_133885            14             0  3JHC
2505527  7163674  dsgdb9nsd_133885            14             1  2JHN
2505528  7163675  dsgdb9nsd_133885            14             2  3JHC
2505529  7163676  dsgdb9nsd_133885            14             3  3JHC
2505530  7163677  dsgdb9nsd_133885            14             4  3JHC
2505531  7163678  dsgdb9nsd_133885            14             6  2JHC
2505532  7163679  dsgdb9nsd_133885            14             7  1JHC
2505533  7163680  dsgdb9nsd_133885            14             8  2JHC
2505534  7163681  dsgdb9nsd_133885            14            15  3JHH
2505535  7163682  dsgdb9nsd_133885            15             1  3JHN
2505536  7163683  dsgdb9nsd_133885            15             2  3JHC
2505537  7163684  dsgdb9nsd_133885            15             3  2JHC
2505538  7163685  dsgdb9nsd_133885            15             4  2JHC
2505539  7163686  dsgdb9nsd_133885            15             6  3JHC
2505540  7163687  dsgdb9nsd_133885            15             7  2JHC
2505541  7163688  dsgdb9nsd_133885            15             8  1JHC

[2505542 rows x 5 columns]